In [ ]:
-- Active: 1733297022005@@127.0.0.1@3306@reasuransiindonesiautama

## **de_claims**

In [ ]:

SELECT COUNT(1) <> COUNT(DISTINCT `Claim_ID`) `duplicate` FROM `de_claims`

SELECT COUNT(1) <> COUNT(DISTINCT `Contract_ID`) `duplicate` FROM `de_claims`

SELECT COUNT(1) `null_value` FROM `de_claims` WHERE `Claim_Amount` IS NULL

SELECT COUNT(1) `non_number` FROM `de_claims` WHERE `Claim_Amount` IS NOT NULL AND CAST(`Claim_Amount` AS DECIMAL) <= 0

SELECT COUNT(1) `non_date` FROM `de_claims` WHERE CAST(`Claim_Date` AS DATE) IS NULL

SELECT COUNT(1) `future` FROM `de_claims` WHERE `Claim_Date` > CURRENT_DATE()

seluruh data sudah sesuai.

## **de_insurance_contracts**

In [ ]:

SELECT COUNT(1) <> COUNT(DISTINCT `Contract_ID`) `duplicate` FROM `de_insurance_contracts`

SELECT COUNT(1) `null_value` FROM `de_insurance_contracts` WHERE `Product_ID` IS NULL

SELECT COUNT(1) `null_value` FROM `de_insurance_contracts` WHERE `Product_ID` IS NOT NULL AND CAST(`Product_ID` AS INT) <= 0

SELECT COUNT(1) <> COUNT(DISTINCT `Product_ID`) `duplicate` FROM `de_insurance_contracts`

SELECT COUNT(1) `row_data`, COUNT(DISTINCT `Product_ID`) `row_distinct` FROM `de_insurance_contracts`

SELECT COUNT(1) `non_date` FROM `de_insurance_contracts` WHERE CAST(`Start_Date` AS DATE) IS NULL

SELECT COUNT(1) `future` FROM `de_insurance_contracts` WHERE `Start_Date` > CURRENT_DATE()

SELECT COUNT(1) `non_date` FROM `de_insurance_contracts` WHERE CAST(`End_Date` AS DATE) IS NULL

SELECT COUNT(1) `overlaps` FROM `de_insurance_contracts` WHERE Start_Date > `End_Date`

SELECT COUNT(1) `sameday` FROM `de_insurance_contracts` WHERE Start_Date = `End_Date`

SELECT COUNT(1) `null_value` FROM `de_insurance_contracts` WHERE `Premium` IS NULL

SELECT COUNT(1) `non_number` FROM `de_insurance_contracts` WHERE `Premium` IS NOT NULL AND CAST(`Premium` AS DECIMAL) <= 0

SELECT COUNT(1) `null_value` FROM `de_insurance_contracts` WHERE `Coverage` IS NULL

SELECT COUNT(1) `non_number` FROM `de_insurance_contracts` WHERE `Coverage` IS NOT NULL AND CAST(`Coverage` AS DECIMAL) <= 0

SELECT COUNT(1) `overtake` FROM `de_insurance_contracts` WHERE `Premium` > `Coverage`

SELECT COUNT(1) `same_value` FROM `de_insurance_contracts` WHERE `Premium` = `Coverage`

SELECT COUNT(1) `null_value` FROM `de_insurance_contracts` WHERE `Discount_Rate` IS NULL

SELECT COUNT(1) `non_number` FROM `de_insurance_contracts` WHERE `Discount_Rate` IS NOT NULL AND CAST(`Discount_Rate` AS DECIMAL(10, 2)) <= 0.00

terdapat 2 kontrak yang memiliki Start_Date dan End_Date yang sama. Memerlukan konfirmasi untuk data berikut:

Contract ID:
- b14df976-4ba2-4b88-8022-6b1ff2f0ed44
- d393d2fd-edd8-45f0-9000-ac95a823972b

In [ ]:
SELECT
    `Contract_ID`
    ,`Product_ID`
    ,`Start_Date`
    ,`End_Date`
    ,`Premium`
    ,`Coverage`
    ,`Discount_Rate`
FROM `de_insurance_contracts`
WHERE `Start_Date` = `End_Date`